 

.swiper-newsline  {
  /* display: flex; */
  color:red;
  width:3000%;
  margin-top:18px;
  margin-left:130px;
  position:relative;
  animation: mymove 40s infinite;
  font-family:helvetica light;
  animation-timing-function:linear;
  letter-spacing:0.8px;
} 

@keyframes mymove{
  from {right:0px;}
  to {right:1000px;}
}	